<div class="alert alert-danger alert-dismissible fade show text-center mx-auto d-block" role="alert" style="max-width: 600px;">
    <%= error %>
    hii
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>