<%- include("./layouts/boilerplate.ejs") %>

<body>
  <div class="container p-4">
    <div class="row">
      <div class="col">
        <div class="list-group">
          <% todos.forEach(todo => { %>
          <div class="list-group-item list-group-item-action"><%= todo.todo %></div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</body>
