<%-include("./layouts/boilerplate.ejs")%>
<body>
  <form action="/todo" class="mb-2" method="post">
    <input type="text" placeholder="add todo" name="todo" />
    <button type="button" class="btn btn-dark">Add</button>
  </form>
</body>
